<div class="container">
  <app-search class="row" [countryList]="countryList() || []"
              [selectedCountry]="countryName"
              [universityName]="universityName"
              [loading]="loading()"
              (selectedCountryChanged)="selectedCountryChanged($event)"
              (universityNameChanged)="universityNameChanged($event)"
              (searchButtonClick)="search()"
              (resetButtonClick)="reset()"
  ></app-search>
  <div class="row table-container">
    <table class="table" align="center">
      <thead>
      <th>Name</th>
      <th>Country</th>
      <th>State</th>
      <th>URL</th>
      </thead>
      <tbody>
        @if (loadingTable()) {
          Loading Data...
        } @else {
          @for (university of universities(); track $index) {
            <tr>
              <td>{{ university.name }}</td>
              <td>{{ university.country }}</td>
              <td>-</td>
              <td>
                @for (page of university.web_pages; track $index) {
                  <a [href]="page">{{ page }}</a>
                }
              </td>
            </tr>
          } @empty {
            <tr>
              <td> Choose a country and press <span class="text-primary">'Get Started'</span></td>
              <td></td>
              <td></td>
              <td><span class="text-primary"><fa-icon [icon]="faHandPointUp"></fa-icon></span></td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
